.subtotal{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:85%;
    height:136px;
    padding:20px;
    background-color:#f3f3f3;
    border:1px solid #dddddd;
    border-radius:3px;
    margin-right:20px;
    border-bottom:1px solid grey;


}
.subtotal_gift{
    display:flex;
    align-items:center;

}
.subtotal_gift>input{
    margin-right:5px;

}
.subtotal>button{
    background:#f0c14b;
    border-radius:2px;
    height:50px;

    border:1px solid ;
    margin-top:10px;
    border-color:#a88734 #9c7e31 #846a29 ;
    text-color:#111;



}