.login {
    height:100vh;
    background-color:white;
    display:flex;
    flex-direction:column;
    align-items:center;

}


.login_logo{
    margin-top:20px;
    margin-bottom:20px;
    object-fit:contain;
    width:100px;
    margin-right:auto;
    margin-left:auto;

}
.login_container{
    width:300px;
    height:fit-content;
    display:flex;
    flex-direction:column;
    border-radius:5px;
    padding:20px;
    background-color:white;
    border:1.5px solid lightgrey;


}

.login_container>h1{
    font-weight:500;
    margin-bottom:20px;

}
.login_container>form >h5{
margin-bottom:5px;
}
.login_container>form>input{
    height:30px;
    margin-bottom:10px;
    background-color:white;
    width:98%;
    outline:none;
    border:1px solid grey;
 border-radius:3px ;

}
.login_container>p{
    margin-top:15px;
    font-size:12px;

}
.login_signInButton{
    background:#f0c14b;
   border-radius:2px;
   width:100%;
   height:30px;
   border:1px solid;
   margin-top:10px;


}
.login_signInButton:active{
    border:2px solid grey;
    color:white;
}
.login_resisterButton{
    border-radius:2px ;
    width:100%;
    height:30px;
    margin-top:4px;
    border:1.5px solid rgb(179, 145, 145);
}
.login_resisterButton:active{
    border:2px solid grey;
    color:#f0c14b;

}